@font-face {
    font-family: 'Operator Mono Complete';
    font-style: normal;
    font-weight: 200;
    src:  url('https://bitbucket.org/bncoelho/operatormonoblink/raw/e381574751c6b9db42b9216947755f5ae51e057a/Operator_Mono_Light_Nerd_Font_Complete.otf') format('opentype');
}
@font-face {
    font-family: 'Operator Mono Complete';
    font-style: italic;
    font-weight: 200;
    src:  url('https://bitbucket.org/bncoelho/operatormonoblink/raw/e381574751c6b9db42b9216947755f5ae51e057a/Operator_Mono_Light_Italic_Nerd_Font_Complete.otf') format('opentype');
}
@font-face {
    font-family: 'Operator Mono Complete';
    font-style: normal;
    font-weight: 600;
    src:  url('https://bitbucket.org/bncoelho/operatormonoblink/raw/e381574751c6b9db42b9216947755f5ae51e057a/Operator_Mono_Medium_Nerd_Font_Complete.otf') format('opentype');
}
@font-face {
    font-family: 'Operator Mono Complete';
    font-style: italic;
    font-weight: 600;
    src:  url('https://bitbucket.org/bncoelho/operatormonoblink/raw/e381574751c6b9db42b9216947755f5ae51e057a/Operator_Mono_Medium_Italic_Nerd_Font_Complete.otf') format('opentype');
}
@font-face {
    font-family: 'Operator Mono Complete';
    font-style: normal;
    font-weight: 400;
    src:  url('https://bitbucket.org/bncoelho/operatormonoblink/raw/e381574751c6b9db42b9216947755f5ae51e057a/Operator_Mono_Book_Nerd_Font_Complete.otf') format('opentype');
}
@font-face {
    font-family: 'Operator Mono Complete';
    font-style: italic;
    font-weight: 400;
    src:  url('https://bitbucket.org/bncoelho/operatormonoblink/raw/e381574751c6b9db42b9216947755f5ae51e057a/Operator_Mono_Book_Italic_Nerd_Font_Complete.otf') format('opentype');
}
@font-face {
    font-family: 'Operator Mono Complete';
    font-weight: 800;
    src: url('https://bitbucket.org/bncoelho/operatormonoblink/raw/e381574751c6b9db42b9216947755f5ae51e057a/Operator_Mono_Bold_Nerd_Font_Complete.otf') format('opentype');
}
@font-face {
    font-family: 'Operator Mono Complete';
    font-style: normal;
    font-style: italic;
    font-weight: 800;
    src: url('https://bitbucket.org/bncoelho/operatormonoblink/raw/e381574751c6b9db42b9216947755f5ae51e057a/Operator_Mono_Bold_Italic_Nerd_Font_Complete.otf') format('opentype');
}
